#!/usr/bin/env bash
set -euo pipefail

if command -v apt >/dev/null 2>&1; then
  sudo apt update
  sudo apt install -y \
    curl \
    git \
    unzip \
    zsh \
    build-essential \
    ripgrep \
    fd-find \
    fzf \
    tmux \
    xclip \
    luarocks \
    python3 \
    python3-pip \
    python3-venv \
    gcc \
    g++ \
    make \
    nodejs \
    npm
fi
