add_newline = false
command_timeout = 1000

format = "$directory$git_branch$git_status$nodejs$python$cmd_duration$character"

[directory]
truncation_length = 3
truncate_to_repo = true

[git_branch]
symbol = " "

[git_status]
disabled = false

[nodejs]
format = " [⬢ $version](bold green)"

[python]
format = " [🐍 $version](bold yellow)"

[cmd_duration]
min_time = 800
format = " [$duration](dimmed white)"

{{ if eq .theme "tokyonight" }}
[character]
success_symbol = "[➜](bold blue)"
error_symbol = "[➜](bold red)"
{{ else if eq .theme "catppuccin" }}
[character]
success_symbol = "[➜](bold magenta)"
error_symbol = "[➜](bold red)"
{{ end }}
